.about-content-para {
    padding: 0 3vw;
    text-align: justify;
    font-size: 1.1rem;
}
.about-content-head {
    padding: 0 3vw;
}

.about-bg {
    background: url('/drone.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 36vw;
}