.product-container {
    padding: 2vw;
    font-size: 1.1rem;
    position: absolute;
    top: 13vh;
}

.product-container img {
    width: 40%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 500px) {
    .product-container {
        top: 9vh;
        font-size: 1rem;
        padding: 0 3vw;
    }

    .product-container img {
        width: 100%;
        margin: auto;
    }
}